env:
  GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

name: Publish Process

# ↓ 自動生成 下載檔案 及 javadoc
on:
  push:
    branches: [ master ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-java@v2
        with:
          java-version: '18'
          distribution: 'adopt'
      - run: mvn --batch-mode package
      - uses: eric2788/push-javadoc-branch@main
        with:
          use-maven: true
          javadocs: javadocs
      - uses: actions/upload-artifact@v1
        with:
          name: minigames-eld-bridge-plugin
          path: ./minigames-eld-bridge-plugin/target/

  upload_nexus_pkg:
    runs-on: ubuntu-latest
    needs: [ build ]
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-java@v2
        with:
          java-version: '18'
          distribution: 'adopt'
      - uses: whelk-io/maven-settings-xml-action@v4
        with:
          servers: '[{ "id": "nexus-dnmc", "username": "${{ secrets.NEXUS_USER }}", "password": "${{ secrets.NEXUS_PASSWORD }}" }]'
      - name: Publish package
        if: steps.version.outputs.length == 3
        run: mvn --batch-mode deploy
